<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="keywords" content="librarie online, dieda, carti ieftine, totebag, board games, figurine, oferte, promotii, reduceri, merch, albume"><!--cuvintele cheie ale paginii; majoritatea motoarelor de căutare ignoră keywords -->
        <meta name="description" content="Site-ul online al librăriei Dieda. Comandă-ți cărțile și albumele preferate cu livrare gratuită la comenzi peste 75 de lei."><!-- descrierea paginii, adesea apare sub link când sunt afișate rezultatele căutării -->
        
        <title>DIEDA - home</title>
        <%- include("../fragmente/head") %>     
        <link href="/resurse/css/produs.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
    <%- include("../fragmente/header") %>

    <main>
        <section>
            <h2>Pagina produs</h2>
                <article id="art-produs">
                    <h3><span class="nume"><%- locals.prod.nume %></span></h3>
                    <p>Pret: <span class="pret"><%- locals.prod.pret %> </span></p>
                    <p>Descriere: <span class="descriere"><%- locals.prod.descriere %> </span></p>
                    <p>Tip: <span class="tip"><%- locals.prod.tip_produs %> </span></p>
                    <p>Cantitate: <span class="cantitate"><%- locals.prod.cantitate %> </span></p>
                    <p>Gen: <span class="gen"><%- locals.prod.gen %> </span></p>
                    <p>Categorie: <span class="categorie"><%- locals.prod.categorie %> </span></p>
                    <p>Caracteristici: <span class="caracteristici"><%- locals.prod.caracteristici %> </span></p>
                    <p>Livrare: <span class="livrare"><%- locals.prod.livrare %> </span></p>
                    <p>Data adăugare: <span class="categorie"><%- locals.prod.data_adaugarii %> </span></p>
                    <figure class="imag-produs">
                        <img  src="/resurse/imagini/produse/<%- locals.prod.imagine %>" alt="[imagine <%- locals.prod.nume %>]" />
                    </figure>    
                </article>
            
        </section>
    </main>

    <%- include("../fragmente/footer") %>
    </body>
</html>